In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("main.csv")

In [3]:
df

     Enorllment ID  Course
0       2022AM1000  AML733
1       2022AM1001  AML733
2       2022AM1002  AML733
3       2022AM1003  AML733
4       2022AM1004  AML733
...            ...     ...
5632    2022TX6632  TXP222
5633    2022TX6633  TXP222
5634    2022TX6634  TXP222
5635    2022TX6635  TXP222
5636    2022TX6636  TXP222

[5637 rows x 2 columns]

In [ ]:
df.to