In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("Course_Data.xlsx")

In [3]:
df

    Course Code Slot Name  Register
0        HUL213         A       223
1        CLL141         A       125
2        HUL253         A       113
3        HUL239         A       111
4        HUL265         A       110
..          ...       ...       ...
572      DSL814         X         5
573      ELL821         X         5
574      HUL261         M       226
575      ASL350         H       146
576      ELL305         E       337

[577 rows x 3 columns]

In [4]:
slots = df["Slot Name"]

In [5]:
slots

0      A
1      A
2      A
3      A
4      A
      ..
572    X
573    X
574    M
575    H
576    E
Name: Slot Name, Length: 577, dtype: object

In [6]:
slots = set(slots)

In [7]:
slots

{'A',
 'AA',
 'AA1',
 'AB',
 'AB1',
 'AC',
 'AD',
 'AD1',
 'B',
 'C',
 'D',
 'E',
 'F',
 'H',
 'J',
 'J1',
 'K',
 'L',
 'M',
 'R',
 'R1',
 'S',
 'T',
 'T1',
 'U',
 'V',
 'X',
 'indi',
 'indi1',
 'indi2'}

In [8]:
stnum = 10001
for slot in slots:
    dct = {}
    crs_code=[]
    idnum=[]
    for ind in df.index:
        if df["Slot Name"][ind]==slot:
            studs = df["Register"][ind]
            for j in range(int(studs)):
                cod = df["Course Code"][ind]
                crs_code.append(cod)
                idnum.append(f"2022{cod[:2]}{stnum}")
                stnum+=1
    dct["Course Code"]=crs_code
    dct["Enrollment Number"] = idnum
    df1 = pd.DataFrame(dct)
    df1.to_csv(f"{slot}.csv",index=False)